@media (max-width: 800px) {
 /* Menu button y menu toogle */
 .menu-button {
  margin: 0.5rem;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40px;
  height: 36px;
  padding: 10px;
  border-radius: 5px;
  background: #2b6c7e;
  cursor: pointer;
 }

 .menu-button span {
  width: 20px;
  height: 4px;
  background: #d6edf3;
 }

 .menu-toggle {
  display: none;
 }

 .toggle {
  display: none;
  text-align: center;
  background: #d6edf3;
  border-radius: 5px;
  padding: 20px;
  width: 150px;
  margin: 10px auto;
 }

 .toggle li {
  list-style: none;
  display: block;
  padding: 10px 0;
 }

 .menu-toggle:checked + .toggle {
  display: block;
 }

 .menu-d {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
 }
 /* hero content */
 .hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 0;
 }
 #hero h1 {
  text-align: center;
 }
 #hero p {
  text-align: center;
  width: auto;
 }
 .imagen {
  display: none;
 }
 .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;

  align-items: center;
 }
 .b1 {
  margin: 0;
  margin-bottom: 1rem;
 }

 /* description */
 .description {
  display: flex;
  justify-content: center;
 }
 .align-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 .contacto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
 }
 .nosotros p {
  margin: 2rem;
 }
 .tel-mail {
  margin-bottom: 2rem;
 }
 .mapa {
  width: 60%;
  display: flex;
  justify-content: center;
 }
}
