:root {
 --background: #d6edf3;
 --icons: #2b6c7e;
 --font: #062d46;
}
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 text-decoration: none;
 list-style: none;
 font-family: sans-serif;
}

.navbar {
 height: 100px;
 width: 100%;
 padding-right: 30px;
 display: flex;
 justify-content: space-between;
 background-color: var(--background);
 position: fixed;
 top: 0;
 z-index: 2;
}

.logo {
 width: 100px;
 height: 100px;
}

.ul-header {
 list-style-type: nones;
 display: flex;
 align-items: center;
}

li a {
 color: var(--font);
 padding-left: 30px;
}
