:root {
 --background: #d6edf3;
 --icons: #2b6c7e;
 --font: #062d46;
}
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 text-decoration: none;
 list-style: none;
 font-family: sans-serif;
}
/* Para modificar el navbar */

.navbar {
 height: 100px;
 width: 100%;
 padding-right: 30px;
 display: flex;
 justify-content: space-between;
 background-color: var(--background);
 position: fixed;
 top: 0;
 z-index: 2;
}

.logo {
 width: 100px;
 height: 100px;
 margin-left: 15px;
}

.ul-header {
 list-style-type: nones;
 display: flex;
 align-items: center;
}

li a {
 color: var(--font);
 padding-left: 30px;
}

/* Contenido principal */

main {
 margin-top: 100px;
}

/* Para modificar el hero */

#hero {
 display: flex;
 justify-content: center;
}

#hero img {
 width: 200px;
 height: 200px;
 margin-top: 50px;
 margin-right: 50px;
}

.hero-content {
 color: var(--font);
 margin-top: 60px;
 margin-left: 50px;
 width: 300px;
}

#hero h1 {
 height: 80px;
 width: 200px;
 text-align: left;
}

#hero p {
 text-align: left;
 height: 80px;
 width: 300px;
}

/* Botones hero */

.buttons {
 display: flex;
 justify-content: flex-start;
}

.b1,
.b2 {
 border-radius: 20px;
 width: 110px;
 height: 30px;
 font-weight: 700;
 cursor: pointer;
}

.b1 {
 margin-right: 20px;
 background-color: var(--font);
 color: var(--background);
 border: none;
}

.b2 {
 color: var(--font);
 border-color: var(--font);
}

/* description parrafo*/

.description {
 width: 100%;
 text-align: center;
 color: var(--font);
 margin-top: 50px;
 display: flex;
 justify-content: center;
}

.description p {
 width: 500px;
}
