:root {
 --background: #d6edf3;
 --icons: #2b6c7e;
 --font: #062d46;
}
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 text-decoration: none;
 list-style: none;
 font-family: sans-serif;
 color: #062d46;
}
/* Para modificar el navbar */

.navbar {
 height: 100px;
 width: 100%;
 padding-right: 30px;
 display: flex;
 justify-content: space-between;
 background-color: var(--background);
 position: fixed;
 top: 0;
 z-index: 2;
}

.logo {
 width: 100px;
 height: 100px;
 margin-left: 15px;
}

.ul-header {
 list-style-type: nones;
 display: flex;
 align-items: center;
 margin-top: 40px;
}

li a {
 color: var(--font);
 padding-left: 30px;
}

a:hover {
 font-weight: 800;
}
/* Contenido principal */

main {
 margin-top: 100px;
}

/* Para modificar el hero */

#hero {
 display: flex;
 justify-content: center;
 width: 100%;
}

#hero img {
 width: 200px;
 height: 200px;
 margin-top: 50px;
 margin-right: 50px;
}

.hero-content {
 color: var(--font);
 margin-top: 60px;
 margin-left: 50px;
 width: 300px;
}

#hero h1 {
 height: 80px;
 width: 200px;
 text-align: left;
}

#hero p {
 text-align: left;
 height: 80px;
 width: 300px;
}

/* Botones hero */

.buttons {
 display: flex;
 justify-content: flex-start;
}

.b1,
.b2 {
 border-radius: 20px;
 width: 110px;
 height: 30px;
 font-weight: 700;
 cursor: pointer;
}

.b1 {
 margin-right: 20px;
 background-color: var(--font);
 color: var(--background);
 border: none;
}

.b2 {
 color: var(--font);
 border-color: var(--font);
}

/* description parrafo*/

.description {
 width: 100%;
 text-align: center;
 color: var(--font);
 margin-top: 50px;
 display: flex;
 justify-content: center;
}

.description p {
 width: 500px;
}

.menu-toggle {
 display: none;
}
/* Cards */

.nosotros {
 margin-top: 1rem;
 text-align: center;
}

.cards {
 margin-top: 1rem;
 width: 250px;
 height: 250px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
 border: solid 1px #062d46;
 border-radius: 10px;
 background-color: var(--background);
}

.img-v {
 width: 40px;
 height: 40px;
}
.align-cards {
 display: flex;
 justify-content: space-around;
}

/* contacto */

#contacto {
 margin-top: 2rem;
 margin-left: 2rem;
}
.contacto {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 margin-top: 2rem;
 text-align: center;
}

.img-cont {
 width: 30px;
 height: 30px;
}

.icon-row {
 display: flex;
}

.tel-mail {
 margin-top: 2rem;
 border: solid 1px #062d46;
 border-radius: 10px;
 background-color: #d6edf3;
 width: 220px;
 height: 100px;
}

.contacts {
 display: flex;
 justify-content: space-between;
 gap: 1rem;
}

iframe {
}

footer {
 margin: 1rem 0 1rem 0;
 font-size: 0.5rem;
 text-align: center;
}

.tel-mail h4 {
 margin: 0.5rem 0 0.5rem 0;
}
